<nav =id='primary-navigation'>
  <ul>
    <li>
      <%= link_to "Home", root_path, class: "home-link" %>
    </li><br>
    <li>
      <%= link_to "My_Blog", posts_path %>
    </li><br>
    <li>
      <%= link_to "New_Blog_Post", new_post_path %>
    </li><br>
  </ul>
  <br>
</nav>